.nav-masthead {
    float: right;
    padding: 1px!important;
}
.btn-home {
    background: #ffc107!important;
}
.cover-container{
    max-width: 100%!important;
   
}
.masthead-brand{
    margin-left: 5%!important;
}

.nav-custom > a{
   padding: 10px!important;
}

.modal{
	text-shadow: none;
	color:#333;
}

.help-block {
	color: red
}

.has-error > .form-control {
	border-color: #bd2130;
}

.has-error > .form-control:focus{
	color: #bd2130;
    background-color: #fff;
    border-color: #bd2130;
    outline: 0;
    box-shadow: 0 0 0 0.1rem rgba(212, 31, 31, 0.8);
}