.lead{
    text-shadow: 2px 2px #000000;
}

.card-container{
    margin-bottom: 10px;
}

.nav-masthead {
    float: right;
    padding: 1px!important;
}

.btn-home{
    background: #a108fe !important;
    color: #fffafa;
}

.btn-home:hover {
    background: #ffc107!important;
    color: #321;
}
.cover-container{
    max-width: 100%!important;
   
}
.masthead-brand{
    margin-left: 5%!important;
}

.nav-custom > a{
   padding: 10px!important;
}

.modal{
	text-shadow: none;
	color:#333;
}

.help-block {
	color: red
}

p.card-text{
	min-height: 100px
}

.has-error > .form-control {
	border-color: #bd2130;
}

.has-error > .form-control:focus{
	color: #bd2130;
    background-color: #fff;
    border-color: #bd2130;
    outline: 0;
    box-shadow: 0 0 0 0.1rem rgba(212, 31, 31, 0.8);

}
#button {
    margin-left: 40px;
    cursor: pointer;
    width: 100px;
    font-weight: 700;
    font-size : 1.25rem;
}

.nav-masthead .nav-link {
    padding: .25rem 0;
    font-weight: 700;
    color: rgba(255, 255, 255, .5);
    background-color: transparent;
    border: .25rem solid transparent;

}

a.card-lomba:hover {
    text-decoration: none
}

#round-img{
    border-radius: 50%;
    width: 100%;
    height: 100%;
}